.cover__subtitle {
  color:white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 auto;
  max-width: 360px;
  padding: 32px 0 245px;
  text-align: center;
  width: 100%;
  z-index: 6;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    padding: 32px 0
      calc(195px + ((100vw - 1024px) * (245 - 195) / (1279 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    padding: 32px 0 calc(115px + ((100vw - 768px) * (195 - 115) / (1023 - 768)));
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: calc(14px + ((100vw - 320px) * (18 - 14) / (767 - 320)));
    line-height: calc(16px + ((100vw - 320px) * (22 - 16) / (767 - 320)));
    padding: calc(16px + ((100vw - 320px) * (32 - 16) / (767 - 320))) 0 calc(33px + ((100vw - 320px) * (115 - 33) / (767 - 320)));
  }
}
