.lead__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  max-width: 720px;
  min-height: 200px;
}

@media screen and (max-width: 760px) {
  .lead__title {
    width: 90%;
    min-height: 88px;
    font-size: calc(100vw / 8);
    line-height: calc((100vw / 8) + 4px);
  }
}
