.footer__links {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 19px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    column-gap: calc(160px - ((100vw - 320px) * (160 - 19) / (767 - 320)));
    row-gap: 32px;
  }
}
