.lead__subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  max-width: 640px;
  min-height: 72px;
  padding: 32px 0 0;
  text-align: center;
}

@media screen and (max-width: 602px) {
  .lead__subtitle {
    font-size: calc(100vw / 20);
    line-height: calc((100vw / 20) + 4px);
    min-height: 40px;
    padding: calc(100vw / 20) 0 0;
    width: 90%;
  }
}
