@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

/* * {
  border: 1px solid white;
}
 */
.page {
  background-color: #2a2c2f;
  color: #fff;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

.header {
  margin: 0 auto;
  padding: 0;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  min-height: 52px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: end;
}

.header__lang-link {
  text-decoration: 0;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
}
