.lead__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin: 0 auto;
  padding: 8px 0 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    width: calc(100vw - (48px + 2 * ((100vw - 768px) * (48 - 24) / (1023 - 768))));
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    width: calc(100vw - (32px + 2 * ((100vw - 320px) * (24 - 16) / (767 - 320))));
  }
}
