.place__website {
  align-items: flex-start;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  justify-self: start;
  margin: 0;
  max-width: 456px;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 auto;
    max-width: 100%;
    width: calc(100vw - (32px + 2 * ((100vw - 320px) * (24 - 16) / (767 - 320))));
  }
}